<%= form_for :user, url: sessions_path, local: true do |form| %>
  <%= flash_alert %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.submit 'SignIn' %>
  </p>
<% end %>