<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold"><%= t('.header', title: @test_passage.test.title) %></h1>

  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 mt-4">
      <% if @test_passage.success? %>
        <%= t('.success') %>
        <% tag_class = "text-success" %>
      <% elsif @test_passage.time_over? %>
        <%= t('.time_over') %>
        <% tag_class = "text-danger" %>
      <% else %>
        <%= t('.failed') %>
        <% tag_class = "text-danger" %>
      <% end %>
    </p>
    <p class="lead mb-4">
      <%= content_tag :span, "#{@test_passage.correct_questions_percentage}% ", class: tag_class %>
      <%= t('.message') %>
    </p>
  </div>
</div>

<%= link_to t('back'), tests_path %>
