<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<% if @test_passage.success? %>
  <h3><%= t('.success') %></h3>
  <% tag_class = "correct" %>
<% else %>
  <h3><%= t('.failed') %></h3>
  <% tag_class = "incorrect" %>
<% end %>
<p>
  <%= content_tag :span, "#{@test_passage.correct_questions_percentage}% ", class: tag_class %>
  <%= t('.message') %>
</p>
<%= link_to t('back'), tests_path %>
