<% if @test_passage.test.questions.any? %>
  <h2><%= t('.header', title: @test_passage.test.title) %></h2>
  <h3><%= @test_passage.current_question.body %></h3>
  <small><%= t('.progress', progress: "#{@test_passage.question_number}/#{@test_passage.test.questions.count}") %></small>
  <div class="progress">
    <%= content_tag :div, nil, class: "progress-bar", data: { progress: @test_passage.percentage_progress } %>
  </div>
  <ul class="list-group">
    <%= form_for :answer, url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <li class="list-group-item">
          <%= b.check_box id: "answer_ids_#{b.object.id}" %>
          <%= b.label %>
        </li>
      <% end %>
      <%= link_to t('.create_gist'), gist_test_passage_path(@test_passage), method: :post %>
      <div class="mt-3">
        <%= form.submit t('next') %></p>
      </div>
    <% end %>
  </ul>
<% else %>
  <div class="px-4 py-5 text-center">
  <h1 class="display-5 fw-bold text-danger"><%= t('.no_questions', title: @test_passage.test.title) %></h1>
  </div>
  <%= link_to t('back'), root_path %>
<% end %>
