<h2><%= question_header(@question) %></h2>
<%= form_for [:admin, @test, @question] do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <%= form.label :body %><br>
  <%= form.text_area :body, size: "70x5" %><br>

  <%= form.submit %>
<% end %>