<div class="row mt-3">
  <div class="col-3">
    <div class="card border-0" style="width: 18rem;">
      <div class="card-body pt-0">
        <h2 class="card-title"><%= Question.model_name.human %></h2>
        <p class="card-text"><b><%= Question.human_attribute_name(:body) %>:</b> <%= @question.body %></p>
        <p class="card-text"><b>Answers:</b> <%= @question.answers.count %></p>
        <%= link_to 'Edit', edit_admin_question_path(@question), class: "card-link" %>
        <%= link_to 'Delete', admin_question_path(@question), class: "card-link", method: :delete, data: {confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
  <div class="col">
    <h2>Answers</h2>
    <table class="table table-striped table-hover">
      <tr>
        <th align="left"><%= Answer.human_attribute_name(:body) %></th>
        <th align="left">Correct</th>
        <th colspan="3" align="left">Actions</th>
      </tr>
      <%= render @question.answers %>
    </table>

    <%= link_to 'Create a new Answer', new_admin_question_answer_path(@question) %> |
    <%= link_to 'Back', admin_test_path(@question.test) %>
  </div>
</div>
