<div class="row">
  <div class="col col-md-4">
    <%= form_for [:admin, @test] do |form| %>
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <%= render 'shared/errors', resource: @test %>

            <p>
              <%= form.label :title %>
              <%= form.text_field :title, id: :test_title, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :level %>
              <%= form.number_field :level, id: :test_level, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :timer %>
              <%= form.time_field :timer, id: :test_timer, class: 'form-control' %>
            </p>

            <p>
              <%= form.label :category_id %>:<br>
              <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true, class: 'form-select form-select-lg mb-3' %>
            </p>

            <div>
              <%= form.submit %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
