<h2><%= t('.header') %></h2>
<table class="table">
  <tr>
    <th><%= Test.human_attribute_name(:title) %></th>
    <th><%= Test.human_attribute_name(:level) %></th>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>

<%= link_to t('.create_link'), new_admin_test_path %>
