<h2><%= t('.header') %></h2>
<hr>
<table>
  <tr>
    <th><%= test_human_attr(:title) %></th>
    <th><%= test_human_attr(:level) %></th>
    <th><%= t('.questions') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>
<hr>
<%= link_to t('.create_link'), new_admin_test_path %>
