<h2>Test</h2>
<p><b>Title:</b> <%= @test.title %></p>
<p><b>Level:</b> <%= @test.level %></p>
<p><b>Questions count:</b> <%= @test.questions.count %></p>
<p>
  <%= link_to 'Edit', edit_admin_test_path(@test) %> |
  <%= link_to 'Delete', admin_test_path(@test), method: :delete, data: {confirm: "Are you sure?"} %>
</p>
<hr>
<h2>Questions:</h2>
<table>
  <tr>
    <th align="left">Body</th>
    <th align="left">Answers count</th>
    <th colspan="3" align="left">Actions</th>
  </tr>
  <%= render @test.questions %>
</table>
<hr>
<%= link_to 'Create new question', new_admin_test_question_path(@test) %><br>
<%= link_to 'Back', admin_tests_path %>