<h2><%= Test.model_name.human %></h2>
<p><b><%= Test.human_attribute_name(:title) %>:</b> <%= @test.title %></p>
<p><b><%= Test.human_attribute_name(:level) %>:</b> <%= @test.level %></p>
<p><b><%= t('.questions') %>:</b> <%= @test.questions.count %></p>
<p>
  <%= link_to t('edit'), edit_admin_test_path(@test) %> |
  <%= link_to t('delete'), admin_test_path(@test), method: :delete, data: {confirm: t('confirm')} %>
</p>
<hr>
<h2><%= t('.questions') %>:</h2>
<table>
  <tr>
    <th align="left"><%= Question.human_attribute_name(:body) %></th>
    <th align="left"><%= t('.answers') %></th>
    <th colspan="3" align="left"><%= t('.actions') %></th>
  </tr>
  <%= render @test.questions %>
</table>
<hr>
<%= link_to t('.create_link'), new_admin_test_question_path(@test) %><br>
<%= link_to t('back'), admin_tests_path %>
