<h2><%= t('.header') %></h2>

<table class="table table-sm table-striped border border-3">
  <tr>
    <th class="sort-by-title pointer">
      <%= Test.human_attribute_name(:title) %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= Test.human_attribute_name(:level) %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>

<%= link_to t('.feedback'), feedbacks_path %>
