<h2><%= t('.header') %></h2>
<hr>
<table>
  <tr>
    <th><%= Test.human_attribute_name(:title) %></th>
    <th><%= Test.human_attribute_name(:level) %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>
