<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Admin panel | TestGuru</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<body>
  <div class="container">
    <%= render 'admin/header' %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
